/*-- scss:rules --*/

.navbar {
  background-color: darken(#78C2AD, 30%);
  --bs-navbar-padding-y: 0.5rem;
}

.navbar .dropdown-item:hover {
  background-color: darken(#f3969a, 10%);
}

.nav-link.active .menu-text {
  color: #242424;
}

.aa-DetachedCancelButton:hover, .aa-DetachedCancelButton:focus {
  box-shadow: darken(#78C2AD, 30%) 0 0 0 1px;
  outline: currentColor none medium;
}

.aa-DetachedFormContainer .aa-Form {
  background-color: #242424;
  border: 1px solid darken(#78C2AD, 30%);

  .aa-InputWrapperPrefix .aa-Label svg {
    color: #f8f8f8;
  }
}

.quarto-title-banner {
  background: darken(#78C2AD, 30%);
}

code:not(.sourceCode),
p code:not(.sourceCode),
li code:not(.sourceCode) {
  background-color: darken(#78C2AD, 40%);
  color: #fcf7f8;
}

.fw-light {
  color: #f8f8f8;
}

.page-item.active .page.page-link {
  background-color: darken(#f3969a, 10%);
  border-color: darken(#f3969a, 10%);
}

.ri--twitter-x-fill {
  color: var(--bs-body-color);
}