/*-- scss:defaults --*/


/*-- scss:rules --*/

.navbar {
  background-color: darken(#78C2AD, 30%);
  --bs-navbar-padding-y: 0.5rem;
}

.navbar .dropdown-item:hover {
  background-color: darken(#f3969a, 10%);
}

.nav-link.active .menu-text {
  color: #242424;
}

.aa-DetachedCancelButton:hover, .aa-DetachedCancelButton:focus {
  box-shadow: darken(#78C2AD, 30%) 0 0 0 1px;
  outline: currentColor none medium;
}

.aa-DetachedFormContainer .aa-Form {
  background-color: #242424;
  border: 1px solid darken(#78C2AD, 30%);

  .aa-InputWrapperPrefix .aa-Label svg {
    color: #f8f8f8;
  }
}

.quarto-title-banner {
  background: darken(#78C2AD, 30%);
}

code:not(.sourceCode),
p code:not(.sourceCode),
li code:not(.sourceCode) {
  background-color: darken(#78C2AD, 40%);
  color: #fcf7f8;
}

.fw-light {
  color: #f8f8f8;
}

.page-item.active .page.page-link {
  background-color: darken(#f3969a, 10%);
  border-color: darken(#f3969a, 10%);
}

.ri--twitter-x-fill {
  color: var(--bs-body-color);
}

.ri--twitter-x-fill {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M10.4883 14.651L15.25 21H22.25L14.3917 10.5223L20.9308 3H18.2808L13.1643 8.88578L8.75 3H1.75L9.26086 13.0145L2.31915 21H4.96917L10.4883 14.651ZM16.25 19L5.75 5H7.75L18.25 19H16.25Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
}