/*-- scss.defaults --*/


@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap);
@import url(https://fonts.googleapis.com/css?family=Commissioner&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Code&display=swap);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap);


// Fonts

$font-family-jp: "Zen Maru Gothic" !default;
$font-family-base: "Commissioner", $font-family-jp !default;

$font-family-sans-serif: $font-family-base !default;
$font-family-monospace: "Fira Code", $font-family-jp !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 600 !default;


// Links

$link-decoration: none !default;
$link-hover-decoration: underline !default;


// Colors

$primary-color: #78C2AD !default;



/*-- scss:rules --*/

// font-family

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }


// navbar

.navbar-brand {
  font-family: "Homemade Apple";
  padding-left: 4px;
}

.navbar {
  font-family: "Libre Baskerville";
}


// Border Lines

section {
    h1 {
        &:after {
            content: "";
            display: block;
            width: auto;
            height: 2px;
            background-color: #78C2AD;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
  
    h2 {
        border-bottom: 1px solid mix(white, #78C2AD, 30%);
    }

    h3 {
        border-bottom: .1px solid #dee2e6;
        padding-bottom: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}


// Headers

div.quarto-about-jolla .quarto-title h1.title {
    font-family: "Libre Baskerville";
}

.quarto-title-banner .quarto-title .title {
    font-family: "Libre Baskerville";
}


// Description

.description {
    font-size: larger;
}


// Figures

figcaption {
    text-align: center;
}

// Anchor

a.anchorjs-link {
    text-decoration: none;
}


// revealjs slide

.slide-deck {
    border: 3px solid #dee2e6;
    width: 100%;
    height: 475px;
}


// alert etc.

.alert {
    color: #EB811B;
    padding: 0;
}

.accent {
    color: #14B03D;
}


.aa-DetachedCancelButton {
    width: 12%;
}


// Medias

@media only screen and (max-width: 600px) {
    .slide-deck {
       height: 400px;
    }
}


// Tweets

.twitter-tweet {
    max-width: 400px;
    margin: 0 auto;
    transform: scale(0.8);
    transform-origin: top left;
}


// Carousels

.carousel.card {
    font-size: 16px;
    padding-top: 2em;
}

.carousel.card a {
    text-decoration: none;
}

.carousel img {
    width: 70%;
    margin-bottom: 110px;
}

.carousel .carousel-control-prev-icon, 
.carousel .carousel-control-next-icon {
    margin-bottom: 110px;
}


// Icon

.ic--outline-tips-and-updates {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%2378c2ad' d='M7 20h4c0 1.1-.9 2-2 2s-2-.9-2-2m-2-1h8v-2H5zm11.5-9.5c0 3.82-2.66 5.86-3.77 6.5H5.27c-1.11-.64-3.77-2.68-3.77-6.5C1.5 5.36 4.86 2 9 2s7.5 3.36 7.5 7.5m-2 0C14.5 6.47 12.03 4 9 4S3.5 6.47 3.5 9.5c0 2.47 1.49 3.89 2.35 4.5h6.3c.86-.61 2.35-2.03 2.35-4.5m6.87-2.13L20 8l1.37.63L22 10l.63-1.37L24 8l-1.37-.63L22 6zM19 6l.94-2.06L22 3l-2.06-.94L19 0l-.94 2.06L16 3l2.06.94z'/%3E%3C/svg%3E");
}


//Social Share Buttons

/* Base style */
.social-share-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.share_button {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: transform 0.3s ease;
}

.share_button:hover {
    transform: scale(1.2);
}

/* Bluesky */
.ri--bluesky-fill {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%231185fe' d='M12 11.388c-.906-1.761-3.372-5.044-5.665-6.662c-2.197-1.55-3.034-1.283-3.583-1.033C2.116 3.978 2 4.955 2 5.528c0 .575.315 4.709.52 5.4c.68 2.28 3.094 3.05 5.32 2.803c-3.26.483-6.157 1.67-2.36 5.898c4.178 4.325 5.726-.927 6.52-3.59c.794 2.663 1.708 7.726 6.444 3.59c3.556-3.59.977-5.415-2.283-5.898c2.225.247 4.64-.523 5.319-2.803c.205-.69.52-4.825.52-5.399c0-.575-.116-1.55-.752-1.838c-.549-.248-1.386-.517-3.583 1.033c-2.293 1.621-4.76 4.904-5.665 6.664'/%3E%3C/svg%3E");
}

/* Twitter (X) */
.ri--twitter-x-fill {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000000' d='m17.687 3.063l-4.996 5.711l-4.32-5.711H2.112l7.477 9.776l-7.086 8.099h3.034l5.469-6.25l4.78 6.25h6.102l-7.794-10.304l6.625-7.571zm-1.064 16.06L5.654 4.782h1.803l10.846 14.34z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
}


// Software

.softwares {
    .software-title {
        font-family: "Libre Baskerville", serif;
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: .2em;
    }

    p.software-description {
        margin-bottom: .5em;
    }

    .software-links {
        list-style-type: none;
        padding-left: 0;
    }

    .link-icons {
        margin-left: 0.5em;
    }
}







