# History files
.Rhistory

# Session Data files
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/
*_files/

# Quarto
/.quarto/
*.quarto_ipynb

# Quarto site
/_site/
/site_libs/

# Other
/.secrets/
settings.json
*.Identifier
/data
