project:
  type: website
  output-dir: _site
  execute-dir: project
  resources:
    - pages/**/*.pdf
    - pages/tips/thumbnail/thumbnail.jpg  # thumbnail for tips
  render:
    - "*.qmd"
    - "*.ipynb"
    - "*.md"
    - "*.Rmd"
    - "!CLAUDE.md"
    - "!renv/**"

lang: ja

execute: 
  freeze: auto
  warning: false

website:
  title: "Yosuke Abe"
  site-url: https://yo5uke.com
  repo-url: https://github.com/yo5uke/yo5uke.github.io
  google-analytics: "G-N3ZP99BG08"
  favicon: assets/icons/favicon.ico
  twitter-card: 
    creator: "@5uke_y"
    site: "@5uke_y"
  open-graph: true
  search: 
    location: navbar
    type: overlay
  navbar:
    right: 
      - href: pages/about.qmd
        text: About
      - href: pages/tips/index.qmd
        text: Tips
      - href: pages/software/index.qmd
        text: Software
      - href: pages/gis_in_r/index.qmd
        text: GIS in {{< fa brands r-project >}}
      - href: pages/blog/index.qmd
        text: Blog
    tools:
      - icon: github
        menu: 
          - text: ソースコード
            href: https://github.com/yo5uke/yo5uke.github.io/
          - text: 問題を報告
            href: https://github.com/yo5uke/yo5uke.github.io/issues/new/
      - icon: rss
        href: pages/tips/index.xml
        text: RSS
  page-footer: 
      background: light
      left: |
        &#169; 2024-2026 Yosuke Abe <br> Made with {{< quarto style="color:#74aadb;" >}} [Quarto](https://quarto.org)
      center: 
        - icon: twitter-x
          href: https://x.com/5uke_y
        - icon: rss
          href: pages/tips/index.xml
      right: |
        {{< fa brands github >}} [Source code](https://github.com/yo5uke/yo5uke.github.io) <br> {{< fa location-dot >}} [Yokohama](https://maps.app.goo.gl/XFHvBiCdkQK4YXku9), Kanagawa, Japan

format:
  html:
    theme: 
      light: [minty, brand]
      dark:  [darkly, styles/html/dark-custom.scss]
    respect-user-color-scheme: true
    toc: true
    link-external-newwindow: true

bibliography: references.bib
csl: styles/csl/chicago-author-date.csl