/*-- scss.defaults --*/

$mDarkBrown: #604c38;
$mDarkTeal: #23373b;
$mLightBrown: #EB811B;
$mLightGreen: #14B03D;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

$font-family: 'Fira Sans', sans-serif;
$font-family-jp: 'Noto Sans JP', sans-serif;

// sidebar color
$sidebar-bg: $mDarkTeal;

/*-- scss:rules --*/

// fonts
.fira-sans-light {
    font-family: $font-family;
    font-weight: 300;
    font-style: normal;
}
  
.fira-sans-regular {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp-300 {
    font-family: $font-family-jp;
    font-weight: 300;
    font-style: normal;
}

.noto-sans-jp-400 {
    font-family: $font-family-jp;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-jp-500 {
    font-family: $font-family-jp;
    font-weight: 500;
    font-style: normal;
}

// header
header {
    h1 {
        @extend .noto-sans-jp-500;
    }
}

section {
    h1 {
        @extend .noto-sans-jp-500;
        font-size: 25px;

        &:after {
            content: "";
            display: block;
            width: auto;
            height: 2px;
            background-color: #EB811B;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
  
    h2 {
        @extend .noto-sans-jp-400;
        font-size: 20px;
    }

    h3 {
        @extend .noto-sans-jp-400;
        font-size: 18px;
    }
}

p {
    @extend .noto-sans-jp-300;
}

// alert etc.

.alert {
    color: $mLightBrown;
    padding: 0;
}

.accent {
    color: $mLightGreen;
}

// list
li {
    @extend .noto-sans-jp-300;
}

// sidebar
.sidebar-header {
    @extend .fira-sans-regular;
    
    .sidebar-title {
        a {
            @extend .fira-sans-regular;
            color: #f8f8f2;
            font-size: 25px;
        }

        &:after {
            content: "";
            display: block;
            width: auto;
            height: 2px;
            background-color: #EB811B;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.sidebar-menu-container {
    margin-top: 12px;
    .list-unstyled {
        .sidebar-item {
            margin-bottom: 10px;
            .sidebar-item-container {
                .sidebar-item-text {
                    .menu-text {
                        @extend .fira-sans-light;
                        color: #f8f8f2;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

// searchbox
.sidebar.sidebar-navigation>* {
    padding-top: 0;
    margin-bottom: 12px;
}

// Remove underlining from all links
a {
    text-decoration: none;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-position: 0% 100%;
    background-size: 0% 1px;
    background-repeat: no-repeat;
    transition: background-size 0.5s;
}

a:hover {
    background-size: 100% 1px;
}

// figure caption
figcaption {
    text-align: center;
}

// tips
div.quarto-post a {
    @extend .noto-sans-jp-500;
}

div.quarto-post {
    border-bottom: 1px solid $mLightBrown;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.card {
    border: 1px solid mix(white, $mLightBrown, 70%);
}

// toc
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid $mLightGreen;
    color: $mLightGreen !important;
}

// listing table
.quarto-listing-table {
    @extend .noto-sans-jp-300;
    border-collapse: collapse;

    a.sort {
        &:hover {
            background-size: 0%;
        }
    }

    a.title.listing-title {
        color: #343A40;

        &:hover {
            text-decoration: none;
            background-image: none;
            background-size: 0%;
        }
    }
  
    th, td {
      text-align: left;
      padding: 8px;
    }
}

// about-jolla
div.quarto-about-jolla .about-link {
    color: #626d78;
    text-decoration: none;
    border: solid 1px;

    &:hover {
        background-size: 0%;
    }
}

// footer
.nav-footer a {
    &:hover {
        background-size: 0%;
    }
}

// revealjs slide
.slide-deck {
    border: 3px solid #dee2e6;
    width: 100%;
    height: 475px;
}

@media only screen and (max-width: 600px) {
    .slide-deck {
       height: 400px;
    }
}