/*-- scss:defaults --*/

// fonts
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Code&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=League+Gothic&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap);

// header
header {
  h1 {
    font-family: 'League Gothic', sans-serif;
    font-size: 50px;
  }
}

h1 {
  font-family: 'Zen Kaku Gothic', sans-serif;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
}

// sidebar

.sidebar-header {
  // サイドバーヘッダー全体に適用されるスタイル
  font-family: 'League Gothic', sans-serif; // フォントファミリーの設定

  .sidebar-title {
    a { // タイトル内のリンクに適用されるスタイル
      font-size: 40px; // リンクのフォントサイズを上書き
    }
  }
}

.sidebar-menu-container {
  .list-unstyled {
    .sidebar-item {
      .sidebar-item-container {
        .sidebar-item-text {
          .menu-text {
            font-family: 'League Gothic', sans-serif;
            font-size: 25px; // フォントサイズの変更
          }
        }
      }
    }
  }
}



// 全てのリンクから下線を除去

html a {
  text-decoration: none;
}

$sidebar-bg: powderblue;


/*-- scss:rules --*/

.fig-caption, figcaption {
  text-align: center;
}
