/*-- scss.defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

$font-family-jp: "Zen Kaku Gothic New" !default;
$font-family-base: "Commissioner" !default;

$font-family-sans-serif: $font-family-base, $font-family-jp !default;
$font-family-monospace: "Fira Code" !default;

$headings-font-family: "Roboto Slab" !default;
$headings-font-weight: 600 !default;

$navbar-bg: #78C2AD !default;
$navbar-fg: #F8F9FA !default;
$navbar-font-family: $font-family-base, sans-serif !default;

$link-decoration: none !default;
$link-hover-decoration: underline !default;

$code-bg: #7D12BA !default;
$code-color: #F8F9FA !default;

/*-- scss:rules --*/

nav.navbar.navbar-expand-lg {
    height: 60.5px;
    padding: 8.5px 17px;
}

figcaption {
    text-align: center;
}

// revealjs slide
.slide-deck {
    border: 3px solid #dee2e6;
    width: 100%;
    height: 475px;
}

// alert etc.

.alert {
    color: #EB811B;
    padding: 0;
}

.accent {
    color: #14B03D;
}


.aa-DetachedCancelButton {
    width: 12%;
}

@media only screen and (max-width: 600px) {
    .slide-deck {
       height: 400px;
    }
}