/*-- scss:defaults --*/

$mDarkBrown: #604c38;
$mDarkTeal: #23373b;
$mLightBrown: #EB811B;
$mLightGreen: #14B03D;
$empty-circle: "\25CB";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&family=Zen+Maru+Gothic:wght@300;400&display=swap');

$font-sans: 'Fira Sans', sans-serif !default;

// colors
$body-bg: rgba(0, 0, 0, 0.02);
$body-color: $mDarkTeal;
$link-color: #107895;
$selection-bg: #26351c;
$selection-color: #f8f8f2;

// headings
$presentation-heading-font: $font-sans;
$presentation-heading-color: $body-color !default;
$presentation-heading-font-weight: 300;

// code blocks
$code-block-border-color: #93a1a1;
$code-color: $body-color;


/*-- scss:rules --*/

//fonts
.fira-sans-light {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-light {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 300;
  font-style: normal;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}


// title-slide
#title-slide {
  text-align: left;

  .title {
    @extend .fira-sans-regular;
    color: $body-color;
    font-size: 1.5em;
  }

  .subtitle {
    @extend .fira-sans-light;
    color: $body-color;
    font-size: 1em;
    margin-bottom: 0;
  }

  .author,
  .quarto-title-author-name {
    @extend .fira-sans-light;
    color: $body-color;
    font-size: 0.8em;
    
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #EB811B;
      margin: 50px 0;
    }
  }

  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    @extend .fira-sans-light;
    color: $body-color;
    font-size: 0.6em;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }
  
  .date {
    @extend .fira-sans-light;
    color: $body-color;
    font-size: 0.8em;
  }

}

.reveal p {
  @extend .fira-sans-light;
  color: $body-color;
  font-size: 24px;
  margin-top: 1em;
}

// header
.reveal h2 {
  @extend .fira-sans-light;
  font-size: 1.25em;
  
  &:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #EB811B;
      margin-bottom: 1.25em;
  }
}

// alerts etc.
.alert {
  color: $mLightBrown;
}

.accent {
  color: $mLightGreen;
}

// code background
.reveal code.sourceCode.r {
  background: $mDarkTeal;
}

// callout
.callout-title strong {
  @extend .fira-sans-regular;
  font-size: 24px;
  padding-left: 10px;
}

.callout-content {
  p {
    @extend .fira-sans-light;
    font-size: 24px * 0.9;
  }
}

.reveal .callout.callout-titled .callout-body>.callout-content>:last-child {
  margin: 16px 0px;
  padding: 0px;
}

.reveal .callout.callout-titled .callout-icon::before {
  margin-top: 11px;
}

// blockquotes
.reveal .slide blockquote {
  border-left: 6px solid #dee2e6;
  padding-left: 1.5em;
}

.reveal .slide blockquote p {
  margin-top: 12px;
}

// figures and tables
.reveal .slide figure>figcaption {
  @extend .fira-sans-light;
  font-size: 24px * 0.8;
}

.reveal .slide img.r-stretch+p.caption {
  @extend .fira-sans-light;
  font-size: 24px * 0.8;
  text-align: center;
  width: 100%;
}

// lists
.reveal ul {
  @extend .fira-sans-light;
  padding-left: 16px;
  
  p {
    margin: 0px;
  }

  li::marker {
    color: mix($mLightBrown, white, 70%);
    font-size: 24px;
  }
}

.reveal ul ul {
  @extend .fira-sans-light;
  font-size: 24px;
  list-style: none;
  
  li {
    position: relative;

    &::before {
      content: $empty-circle;
      color: mix($mLightBrown, white, 60%);
      font-size: 0.5em;
      vertical-align: middle;
      position: absolute;
      margin-left: -1.5em;
      margin-right: 0.5em;
      top: 50%;
      transform: translateY(-40%);
    }
  }
}

.reveal .slide ul li ul li {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

.reveal ol {
  @extend .fira-sans-light;
  padding-left: 16px;
  
  li::marker {
    color: $mLightBrown;
    font-size: 24px;
  }
  
  p {
    margin: 0px;
  }
}

// progress bar
.reveal .progress {
    background: mix($mLightBrown, white, 10%); }

.reveal .progress span {
    background: $mLightBrown;
}