<div class="social-share-buttons">
  <!-- Twitter (X) -->
  <a href="" id="js-share-twitter" class="share_button ri--twitter-x-fill" target="_blank" rel="nofollow noopener noreferrer"></a>

  <!-- Bluesky -->
  <a href="" id="js-share-bluesky" class="share_button ri--bluesky-fill" target="_blank" rel="nofollow noopener noreferrer"></a>
</div>

<script>
const share_url = encodeURIComponent(location.href);
const share_title = encodeURIComponent(document.title);

// Twitter (X)
document.getElementById('js-share-twitter').setAttribute(
  "href",
  "https://twitter.com/share?url=" + share_url + "&text=" + share_title
);

// Bluesky
document.getElementById('js-share-bluesky').setAttribute(
  "href",
  "https://bsky.app/intent/compose?text=" + share_title + " " + share_url
);
</script>
