<div class="margin-header">
  <div class="profile-container">
    <img src="/assets/icons/abe-r.png" alt="yo5uke's Profile Image" class="profile-img">
  </div>
  <div class="profile-text">
    <a href="pages/about.html">📖 プロフィール</a>
    <a href="https://life-with-r.netlify.app/">📊 Life with R</a>
    <p>RのTipsをメインに発信していきます。国・地方自治体の統計データの整備や利活用促進に興味があります。</p>
    <p>💻 最近は専らPositronでRやPythonを動かしています。Positronのおすすめ設定に関する記事は<a href="/pages/tips/2025/09/250901_positron_setting/index.qmd" target="_blank">こちら</a>。</p>
  </div>
</div>
