<div class="margin-header">
  <div class="profile-container">
    <img src="/assets/icons/abe-r.png" alt="yo5uke's Profile Image" class="profile-img">
    <p class="profile-name"><span class="profile-role">👨‍💻 管理人</span><br><strong>阿部洋輔</strong></p>
  </div>
  <div class="profile-text">
    <a href="pages/about.html">📖 プロフィール</a>
    <p>RのTipsをメインに発信していきます。国・地方自治体の統計データの利活用促進に興味があります。</p>
  </div>
  <div class="profile-sns">
    <a href="https://twitter.com/5uke_y?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @5uke_y</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>  
</div>
