/*-- scss:defaults --*/

// Custom colours and variables

$jet: #131516;
$accent: #107895;
$accent2: #9a2515;
// $accent2: #e64173;
$right-arrow: "\2192"; // Unicode character for right arrow
$empty-circle: "\25CB"; // Unicode character for an open circle

// fonts
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Code&display=swap);
@import url(https://fonts.googleapis.com/css?family=Zen+Maru+Gothic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans&display=swap);


$font-family-sans-serif: "Noto Sans JP", sans-serif !default;
$font-family-monospace: "Fira Code", monospace !default;
$presentation-font-size-root: 24px;

// colors
$body-bg: #fff !default;
$body-color: $jet !default;
$link-color: $accent !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Zen Maru Gothic", sans-serif !default;
$presentation-heading-color: $jet !default;
$presentation-heading-font-weight: lighter;

// code blocks
$code-block-border-color: #93a1a1 !default;
$code-color: $body-color;

//
// Color system
//

// stylelint-disable
$white:    #fff !default;
$gray-100: #fdf6e3 !default;
$gray-200: #eee8d5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #839496 !default;
$gray-700: #495057 !default;
$gray-800: #073642 !default;
$gray-900: #002b36 !default;
$black:    #000 !default;

/*-- scss:rules --*/

// calloutのタイトル部分のスタイル設定
.callout-title {
  // ここにタイトルのスタイリングを追加
  font-size: $presentation-font-size-root;
  font-weight: bold;
  padding-left: 20px;
}

// calloutの本文（コンテンツ）部分のスタイル設定
.callout-content {
  // ここにコンテンツのスタイリングを追加
  font-size: $presentation-font-size-root * 0.9;
}

// アイコンコンテナのサイズを調整
.callout-icon-container {
  width: 30px; // アイコンコンテナの幅を指定
  height: 30px; // アイコンコンテナの高さを指定
  display: flex; // Flexboxを使って中央揃えに
  align-items: center; // 垂直方向の中央揃え
  justify-content: center; // 水平方向の中央揃え
  margin-right: 10px;
}

// アイコン自体のサイズを調整
.callout-icon {
  font-size: 20px; // アイコンのフォントサイズを指定
  margin-left: 10px;
}

.reveal .callout.callout-titled .callout-icon::before {
  margin-top: 14px;
}

.reveal .callout.callout-titled .callout-body>.callout-content>:last-child {
  margin-bottom: 15.12px;
  padding: 0px;
}

.reveal a {
  line-height: 1.5em;
}

.reveal p {
  // font-weight: 300;
  font-weight: lighter;
  margin-top: 1.25em;
}

.caption {
  text-align: center; // キャプションのテキストを中央揃えにする
  display: block; // キャプションをブロックレベル要素として表示する
  width: 100%; // キャプションの幅を親要素の幅いっぱいにする
  margin-top: 0.5em; // キャプションと画像の間に適度なスペースを設ける
  margin-bottom: 0.5em; // キャプションの下に適度なスペースを設ける
}

// title and headings

#title-slide {
  text-align: left;

  .title {
    color: $body-color;
    font-size: 2.5em;
    // font-weight: 350;
    font-weight: lighter;
  }

  .subtitle {
    font-family: $presentation-heading-font;
    color: $accent;
    font-size: 1.5em;
    font-style: italic;
    margin-top: 0em;
    font-weight: lighter;
  }

  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
    // font-size: 80%;
    // color: #7F7F7F;
  }

  .author,
  .quarto-title-author-name {
    color: $body-color;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

}

.reveal h2 {
  // font-weight: 350;
  font-weight: lighter;
  font-size: 2em;
}

.reveal h3 {
  color: $accent;
  font-style: italic;
  // font-weight: 350;
  font-weight: lighter;
  font-size: 1.25em;
  margin-bottom: 1.25em;
}

.reveal h4 {
  color: $accent2;
  // font-weight: 350;
  font-weight: normal;
  margin-top: 1.25em;
}

.small {
  font-size: 0.9em;
}

// blockquotes

.reveal .slide blockquote {
  border-left: 6px solid $gray-300;
  padding-left: 1.75em;
}

.reveal .slide blockquote p {
  margin-top: 12px;
}

// footnotes

.aside-footnotes {
  padding-bottom: 20px; // 脚注の下部に余白を追加
}


// alerts etc.

.alert {
  color: $accent2;
}

.fg {
  color: var(--col, $jet);
}

.bg {
  background-color: var(--col, #fff);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

// lists

// Unordered lists

.reveal ul {
  // font-weight: 300;
  font-weight: lighter;
  padding-left: 16px;

  li::marker {
    color: mix($accent, white, 70%);
  }
}

.reveal ul ul {
  list-style: inherit;

  li::marker {
    color: mix($accent, white, 60%);
    font-size: 0.7em;
  }
}

/*
.reveal ul ul {
  list-style: none;

  li:before {
    content: $right-arrow;
    color: mix($accent, white, 60%);
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
  }
}
*/

// Ordered lists

.reveal ol {
  // font-weight: 300;
  font-weight: lighter;
  padding-left: 16px;

  li::marker {
    color: $accent;
  }
}

// Move "hamburger" menu button to top right

.reveal .slide-menu-button {
  position: fixed;
  top: 6px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-menu-button > * {
  pointer-events: auto;
}


// Same for chalkboard buttons (with an offset)

.reveal .slide-chalkboard-buttons {
  position: fixed;
  top: 12px;
  right: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-chalkboard-buttons > * {
  pointer-events: auto;
}

// Beamer-style button link environment

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: $accent;
  border: 1px solid $accent;
  color: #fff !important;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button::before {
  content: "▶";
  margin-right: 5px;
}

// Special catch for etable environment to ensure these table images
// don't overflow the slide.
// See: https://lrberge.github.io/fixest/articles/etable_new_features.html

.etable {
  width: 100%;
  height: calc(100% - 3em); /* Adjust 3em based on the height of your header, if necessary */
  display: flex;
  align-items: center;
  justify-content: center;
}

.etable img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}