/*-- scss.defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

$font-family-jp: "Zen Maru Gothic" !default;
$font-family-base: "Commissioner", $font-family-jp !default;

$font-family-sans-serif: $font-family-base, $font-family-jp !default;
$font-family-monospace: "Fira Code", $font-family-jp !default;

$headings-font-family: "Roboto Slab", $font-family-jp !default;
$headings-font-weight: 600 !default;

$navbar-font-family: $font-family-base, sans-serif !default;

$link-decoration: none !default;
$link-hover-decoration: underline !default;

/*-- scss:rules --*/

section {
    h1 {
        &:after {
            content: "";
            display: block;
            width: auto;
            height: 2px;
            background-color: #78C2AD;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
  
    h2 {
        border-bottom: 1px solid mix(white, #78C2AD, 30%);
    }

    h3 {
        border-bottom: .1px solid #dee2e6;
        padding-bottom: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

figcaption {
    text-align: center;
}

// revealjs slide
.slide-deck {
    border: 3px solid #dee2e6;
    width: 100%;
    height: 475px;
}

// alert etc.

.alert {
    color: #EB811B;
    padding: 0;
}

.accent {
    color: #14B03D;
}


.aa-DetachedCancelButton {
    width: 12%;
}

@media only screen and (max-width: 600px) {
    .slide-deck {
       height: 400px;
    }
}

.twitter-tweet {
  max-width: 400px;
  margin: 0 auto;
  transform: scale(0.8);
  transform-origin: top left;
}

.carousel.card {
  font-size: 16px;
  padding-top: 2em;
}

.carousel.card a {
  text-decoration: none;
}

.carousel img {
  width: 70%;
  margin-bottom: 110px;
}

.carousel .carousel-control-prev-icon, 
.carousel .carousel-control-next-icon {
  margin-bottom: 110px;
}